<form action="/accounts/login/?next=/accounts/" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="kOhiI4YJdxVkTFDNIvyWeyrXuvMiLl1lIAlD7G6GB8PlaY2q1sPznxW9lIjKfJZ4">
  <div class="form-row">

    <label class="required" for="id_username">Username:</label> <input autofocus="" id="id_username" maxlength="254" name="username" type="text" value="administrat" required="">
  </div>
  <div class="form-row">

    <label class="required" for="id_password">Password:</label> <input id="id_password" name="password" type="password" required="">
    <input type="hidden" name="next" value="/accounts/">
  </div>


  <div class="submit-row">
    <label>&nbsp;</label><input type="submit" value="Log in">
  </div>
</form>

<form action="/deviceRule/addRule/1078ef2e-1d7c-4e79-84d6-fbf6d829e2a2/0/" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="oWgAqy7RJ83Se3MsSni1UrILiLGiqsJUrPfx235HZdvMrMpaTlxJAuW4ex5OkZKr">













<div class="form-group">


            <label class="control-label  required" for="id_Name">规则名称</label>


        <div class=" ">
            <input class=" form-control" id="id_Name" maxlength="50" name="Name" type="text" required="">




        </div>

</div>




<div class="form-group">


            <label class="control-label  required" for="id_StreamIndex">分析码流</label>


        <div class=" ">
            <select class=" form-control" id="id_StreamIndex" name="StreamIndex" required="">
<option value="0">主码流</option>
<option value="1">辅码流</option>
</select>




        </div>

</div>




<div class="form-group">


            <label class="control-label  required" for="id_EventLevel">事件等级</label>


        <div class=" ">
            <select class=" form-control" id="id_EventLevel" name="EventLevel" required="">
<option value="0">0</option>
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
</select>




        </div>

</div>




<div class="form-group">


            <label class="control-label  required">是否激活</label>

        <div class="">

                <div class="radio">
                    <label>
                        <input checked="checked" id="id_IsActive_0" name="IsActive" type="radio" value="0" required="">
                        不激活
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input id="id_IsActive_1" name="IsActive" type="radio" value="1" required="">
                        激活
                    </label>
                </div>





        </div>

</div>




<div class="form-group">


            <label class="control-label  required" for="id_ServiceID">隶属服务</label>


        <div class=" ">
            <select class=" form-control" id="id_ServiceID" name="ServiceID" required="">
<option value="8d51bcaf-34ef-43b0-b742-61235c91d5b0">人群聚集</option>
<option value="7f133a36-37c0-4f3c-906f-c9ab7af8fd1f">入侵检测</option>
<option value="1c13845f-482e-4806-943d-507088e42751">视频诊断</option>
<option value="c6731d30-c872-11e3-a896-00e081e85edb">徘徊检测</option>
<option value="dac8a76d-4714-11e5-b503-90b11c4f1625">LNG手套检测</option>
<option value="24be1d72-bdd2-11e2-9a27-00155d011700">人脸检测</option>
<option value="8257688f-bdd1-11e2-9a27-00155d011700">偷盗检测</option>
<option value="178b2db5-f9bd-11e2-a1ee-00155d011700">打架斗殴检测</option>
<option value="18361d2b-4fbd-11e5-b987-90b11c4f1625">LNG吸烟检测</option>
</select>




        </div>

</div>




<div class="form-group">


            <label class="control-label  required" for="id_EventSourceID">分析算法</label>


        <div class=" ">
            <select class=" form-control" id="id_EventSourceID" name="EventSourceID" required="">
<option value="803d5d1e-e33a-45bc-a4b8-bdef75f984e4">analysis_service@172.16.1.28</option>
<option value="3a6d58d7-3217-4a96-8503-9cac18931223">analysis_service_lng@172.16.1.28_lng</option>
</select>




        </div>

</div>




<div class="form-group">


            <label class="control-label  " for="id_EventSourceConfig">配置文件</label>


        <div class=" ">
            <textarea class=" form-control" cols="40" id="id_EventSourceConfig" name="EventSourceConfig" rows="10"></textarea>




        </div>

</div>



    <div>
    <input type="button" value="提交">
    </div>
</form>